{% extends 'core/base.html' %}

{% block title %}
    Login
{% endblock  %}

{% block content  %}
    <h1 class="text-xl bg-[#38bdf8]"> Nextek is the best option for your business</h1>


<form method="post" action="." class="mt-8 bg-[#60a5fa] shadow-md rounded px-8 pt-6 pb-8 mb-4  ml-8 flex-col mb-2">
    {% csrf_token %}

    {{ form.as_p }}

    <button class="mt-4 py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 text-xl">Login</button>
</form>
{% endblock  %}