
{% load menu %}
<!doctype html>

{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% comment %} <link rel="icon" type="image/png" href="/n-icon.png"> {% endcomment %}
        <link rel="shortcut icon" type="image/png" href="{% static 'n-icon.png' %}"/>
        <title>{% block title  %}{% endblock  %} | nextek</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
          <nav class="max-w-4l mx-auto  py-4  px-6  flex  items-center justify-between bg-[#4895ef]">
            <div class="logo">
                <a href="/" class="text-2xl text-white">Nextek</a>
            </div>

            <div class="search">
                <form method="get" action="/search/" class="flex items-center space-x-4">
                    <input type="search" name="query" placeholder="Search" class="py-2 px-4 rounded-xl">
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 15.75l-2.489-2.489m0 0a3.375 3.375 0 10-4.773-4.773 3.375 3.375 0 004.774 4.774zM21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                          </svg>
                          
                    </button>
                </form>
            </div>

            <div class="menu flex items-center space-x-4">
                {% menu %}

                {% if request.user.is_authenticated %}
                       <a href="{% url 'myaccount' %}" class="py-2 px-4 bg-teal-400 text-white rounded-xl  hover:bg-teal-700">My account</a>
                       <a href="{% url 'my_store' %}" class="py-2 px-4 bg-teal-400 text-white rounded-xl hover:bg-teal-700">My store</a>
                {% endif %}
                
            </div>
          </nav>

          <div class="max-w-4l mx-auto py-4  px-6">
                {% block content  %}
                {% endblock  %}
          </div>



    </body>
</html>